//import de mon scss


@import "./variable.scss";

.shadow-text {
    @include shadow-text;
    &:hover, &:focus {
        @include shadow-text-hover;
    }
}
.shadow-box {
    @include shadow-box;
    &:hover, &:focus {
        @include shadow-box-hover;
    }
}

.rounded-pill {
    transition: opacity 0.5s;
    &:hover,
    &:focus {
        @include shadow-box-hover;
    }
}
.img-nav {
    max-height: 70px;
    @include shadow-rounded;
    &:hover, &:focus {
        @include shadow-rounded-hover;
    }
}
a {
    color:$text-grey;
    &:hover,
    &:focus {
        color: $text-grey-hover !important;
        border: $text-grey-hover;
        text-decoration:none!important;
    }
}
p {
    color: $text-grey !important;
    font-size: 1.4em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.text-footer {
    font-size: 1em;
    color: $text-black !important;
}

.bg-blue {
    background: linear-gradient(-330deg,$bg-2 0.5%, $bg-1 30%) !important;
    @include shadow-box;
}
body {
 background-image: url(../img/background.jpg);
 object-fit: cover;
    
}
.opacity {
    opacity: 0.95!important;
}

//Modifier le Scss au dessus des imports !!

@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap-vue/src/index.scss";
